<ul class="sg-colors">
  <li>
    <h4>Positive</h4>
    <span class="sg-swatch" style="background: #32a362;"></span>
    <span class="sg-label">
            $color-positive <br />
            #32a362
        </span>
  </li>
  <li>
    <h4>Negative</h4>
    <span class="sg-swatch" style="background: #E5460E;"></span>
    <span class="sg-label">
			$color-negative <br />
			#E5460E
		</span>
  </li>
  <li>
    <h4>Caution</h4>
    <span class="sg-swatch" style="background: #FF9933;"></span>
    <span class="sg-label">
			$color-caution <br />
			#FF9933
		</span>
  </li>
  <li>
    <h4>Neutral</h4>
    <span class="sg-swatch" style="background: #778899;"></span>
    <span class="sg-label">
			$color-neutral <br />
			#778899
		</span>
  </li>
</ul>

<ul class="sg-colors">
  <li>
    <h4>Positive Background</h4>
    <span class="sg-swatch" style="background: #C1ECBB;"></span>
    <span class="sg-label">
			$color-positive-subtle <br />
			#C1ECBB
		</span>
  </li>
  <li>
    <h4>Negative Background</h4>
    <span class="sg-swatch" style="background: #FBCED2;"></span>
    <span class="sg-label">
			$color-negative-subtle <br />
			#FBCED2
		</span>
  </li>
  <li>
    <h4>Caution Background</h4>
    <span class="sg-swatch" style="background: #FBE7B2;"></span>
    <span class="sg-label">
			$color-caution-subtle <br />
			#FBE7B2
		</span>
  </li>
  <li>
    <h4>Neutral Background</h4>
    <span class="sg-swatch" style="background: #d3f2ff;"></span>
    <span class="sg-label">
			$color-neutral-subtle <br />
			#d3f2ff
		</span>
  </li>
</ul>